.About {
  //font-family: Poppins, sans-serif !important;

  .diamond-shape {
    background: #53ace0;
    width: 8px;
    height: 8px;
    text-align: center;
    transform:rotate(45deg);
    margin-right: 16px;
  }

  .diamond-bullet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .about-section {
    padding: 3rem;
    text-align: center;
    color: #2a1b5b;
    background-color: #53ace0;
    font-size: 20px;
  }

  .who-we-are {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;

    .text-container {

      .title {
        font-size: 35px;
        font-weight: 600;
        color: #2a1b5b;
        margin-left: 25%;
        margin-right: 10%;
      }

      .text {
        margin: 8%;
        //height: 20%;
        div {
          margin-bottom: 16px;
        }
      }

      ul {
        margin-left: 20%;
        margin-right: 10%;
        //list-style: none;
      }

      li {
        padding: 1.5% 0;
      }
    }

    .image-container {
      padding: 2%;
      img {
        width: 75%;
        filter: drop-shadow(-20px 20px 0 #53ace0);
      }
    }
  }

  .who-we-are-mobile {
    margin-top: 5%;

    .text-container {

      .title {
        font-size: 35px;
        font-weight: 600;
        color: #2a1b5b;
        margin-left: 25%;
        margin-right: 10%;
      }

      .text {
        margin: 8%;
        height: 20%;
        div {
          margin-bottom: 16px;
        }
      }

      ul {
        margin: 5%;
        //margin-left: 20%;
        //margin-right: 10%;
        //list-style: none;
      }

      li {
        padding: 2% 0;
        line-height: 1.5em;
      }
    }

    .image-container {
      //padding: 2%;
      margin-top: 15%;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        //filter: drop-shadow(-20px 20px 0 #53ace0);
      }
    }
  }

  .vision {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;

    .text-container {

      .title {
        font-size: 35px;
        font-weight: 600;
        color: #2a1b5b;
        margin-left: 10%;
        margin-right: 20%;
      }

      i {
        font-weight: bold;
        color: #2a1b5b;
      }

      p {
        margin-left: 10%;
        margin-right: 20%;
      }

      ul {
        margin-left: 10%;
        margin-right: 20%;
        //list-style: none;
      }

      li {
        padding: 1.5% 0;
      }
    }

    .image-container {
      padding: 2%;
      img {
        float: right;
        width: 60%;
        filter: drop-shadow(20px 20px 0 #53ace0);
      }
    }
  }


  .vision-mobile {
    //display: flex;
    //justify-content: space-around;
    //align-items: center;
    margin-top: 5%;

    .text-container {

      .title {
        font-size: 35px;
        font-weight: 600;
        color: #2a1b5b;
        margin-left: 10%;
        margin-right: 20%;
      }

      i {
        font-weight: bold;
        color: #2a1b5b;
      }

      p {
        margin-left: 10%;
        margin-right: 20%;
      }

      ul {margin: 5%;
        //margin-left: 10%;
        //margin-right: 20%;
        //list-style: none;
      }

      li {
        padding: 1.5% 0;
      }
    }

    .image-container {
      //padding: 2%;
      margin-top: 35%;
      img {
        //float: right;
        width: 100%;
        //filter: drop-shadow(20px 20px 0 #53ace0);
      }
    }
  }



  .our-team-container {
    margin-top: 10%;

    .title {
      text-align: center;
      color: #2a1b5b;
    }

    .team-members {
      display: flex;
      flex-wrap: wrap;
      margin: 5%;


      .team-member {
        border: 1px solid #e6e7e8;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 45%;
        margin: 8px;
        img {
          width: 50%;
        }
      }

      .info-section {
        margin: 4%;
        width: 50%;

        .name-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 0;
          }

          .icon {
            font-size: 24px;
            a {
              color: black;
            }
          }
        }
        .designation {
          color: #737373;
        }

        .info {
          font-size: 14px;
          padding-top: 16px;
        }
      }
    }
  }

  .our-team-container-mobile {
    margin-top: 30%;

    .title {
      text-align: center;
      color: #2a1b5b;
    }

    .team-members {
      display: flex;
      flex-wrap: wrap;
      margin: 5%;


      .team-member {
        border: 1px solid #e6e7e8;
        //display: flex;
        //justify-content: flex-start;
        //align-items: flex-start;
        //flex: 45%;
        margin: 5%;
        .img_name_title {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }
        img {
          width: 40%;
        }

        .info {
          font-size: 14px;
          padding: 16px 8px 8px 8px;
        }
      }

      .info-section {
        margin: 4%;
        width: 50%;

        .name-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 0;
          }

          .icon {
            font-size: 18px;
            a {
              color: black;
            }
          }
        }
        .designation {
          color: #737373;
          font-size: 14px;
          padding-top: 8px;
        }


      }
    }
  }
  

}
