.Footer {
  font-family: Poppins, sans-serif !important;
  img {
    width: 100%;
  }

  .info {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
