.Home {

  .diamond-shape {
    background: #53ace0;
    width: 8px;
    height: 8px;
    text-align: center;
    transform:rotate(45deg);
    margin-right: 16px;
  }

  .diamond-bullet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .banner-section {
    .slider-container {
      position: relative;
      margin: 0 0 20px 0;
      width: 100%;
      height: 50%;
    }

    .slide {
      display: none;
      width: 100%;
      height: 100%;
    }

    .photo {
      width: 100%;
      object-fit: cover;
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      background: rgba(0, 0, 0, 0.3);
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border: none;
    }

    .next {
      right: 0;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .caption {
      position: absolute;
      bottom: 8px;
      width: 100%;
      padding: 8px 12px;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }

    .dots {
      display: flex;
      justify-content: center;
    }

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 5px;
      background-color: #ccc;
      border-radius: 50%;
      display: inline-block;
      transition: 0.5s;
    }

    .active,
    .dot:hover {
      background-color: gray;
    }

    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {
        opacity: 0.3;
      }
      to {
        opacity: 1;
      }
    }

  }

  .intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 10% 5% 10%;

    .text-container {
      div {
        margin-left: 5%;
        line-height: 1.5em;
      }
    }

    .image-container {
      padding: 2%;
      width: 150%;
      img {
        width: 100%;
        filter: drop-shadow(-20px 20px 0 #53ace0);
      }
    }
  }

  .our-edge {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;

    .image-container {
      padding: 2%;
      width: 50%;
      img {
        width: 100%;
        float: right;
        filter: drop-shadow(20px 20px 0 #f79256);
      }
    }

    .text-container {
      .title-container {
        //margin: 4% 15%;

        .titles {
          display: flex;
          justify-content: flex-start;
          //flex-wrap: wrap;
          .title-button {
            background-color: #f79256;
            border: 1px solid #f79256;
            padding: 10px 32px;
            margin-right: 32px;
            border-radius: 16px;
            cursor: pointer;
            font-family: Avenir-light, sans-serif;
            font-weight: bold;
            font-size: 14px;
            //margin-bottom: 10%;
            a {
              color: #000;
            }
          }

          .title-button:hover {
            //border: 1px solid #fff;

              color: #fff;

          }
        }



      }

      .our-edge-content-container {

        .content-item-container {
          margin-right: 4%;
          width: 700px;
          height: 50px;
          li {
            margin-top: 4%;
          }
        }
      }
    }
  }

  .solutions {
    .title {
      text-align: center;
    }

    .solutions-container {
      //display: flex;
      //justify-content: space-evenly;
      //align-items: flex-start;

      display: flex;
      justify-content: space-between;
      margin: 2%;

      .solution-item {
        flex-basis: 31%;
        box-sizing: border-box;
        //position: relative;

        border-radius: 20px;
        width: 32%;
        min-height: 250px;

        .title {
          font-size: 22px;
          padding-top: 32px;
          padding-bottom: 16px;
        }

        .img-container {
          height: 30%;
          margin-bottom: 20%;

          img {
            width: 100%;
          }

        }

        .logo-container {
          text-align: center;
          img {
            width: 50%;
          }
        }

        .button-container {
          display: flex;
          justify-content: center;
          button {
            padding: 8px;
            background-color: #53ace0;
            color: #fff;
            border: none;
            border-radius: 8px;

            //position: absolute;
            //top: 50%;
            //left: 50%;
            //-ms-transform: translate(-50%, -50%);
            //transform: translate(-50%, -50%);
          }
        }


        .text {
          margin: 8%;
          height: 20%;
          div {
            margin-bottom: 16px;
          }
        }
      }

      .solution-item.vendorkredit {
        background-color: #fff9f0;
      }

      .solution-item.marketkredit {
        background-color: #eff9fe;
      }

      .solution-item.novakredit {
        background-color: #f0edff;
      }
    }
  }


  .quote-container {
    background-color: #2a1b5b;
    padding: 4%;
    margin: 10% 0;
    h1,p {
      color: white;
      text-align: center;
    }
  }

  .our-approach-container {
    margin: 5%;
    .title {
      color: #2a1b5b;
      text-align: center;
    }
    p {
      margin-top: 3%;
      line-height: 1.8em;
    }

    .expandable-section {
      //display: flex;
      //justify-content: space-evenly;
      //align-items: center;

      display: flex;
      justify-content: space-between;

      .approach-item-container {
        flex-basis: 33%;
        background-color: #e6e7e8;


        .expand-button {
          font-weight: bold;
          padding: 16px;
          background-color: #53ace0;
          color: #fff;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          //text-transform: uppercase;

          span {
            margin-left: 24px;
            font-size: 22px;
          }
        }
      }


    }
  }



  .our-team-container {
    margin-top: 10%;

    .title {
      text-align: center;
      color: #2a1b5b;
    }

    .team-members {
      display: flex;
      flex-wrap: wrap;
      margin: 5%;


      .team-member {
        border: 1px solid #e6e7e8;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 45%;
        margin: 8px;
        img {
          width: 50%;
        }
      }

      .info-section {
        margin: 4%;
        width: 50%;

        .name-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 0;
          }

          .icon {
            font-size: 24px;
            a {
              color: black;
            }
          }
        }
        .designation {
          color: #737373;
        }

        .info {
          font-size: 14px;
          padding-top: 16px;
        }

      }

    }

  }



}
